<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futao.springbootdemo.dao.ArticleDao">
    <select id="getById" parameterType="java.lang.String" resultType="com.futao.springbootdemo.model.entity.Article">
        select id,
               title,
               description,
               content,
               author,
               visit_times,
               create_time,
               last_modify_time
        from springmvcdemo.futao_article
        where id = #{value}
    </select>

    <select id="list" resultType="com.futao.springbootdemo.model.entity.Article">
        select *
        from springmvcdemo.futao_article
    </select>

</mapper>