<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>

        <!--开启二级缓存-Mapper级别的缓存(一级缓存是默认开启的SqlSession级别的缓存)-->
        <setting name="cacheEnabled" value="true"/>

        <!--懒加载的全局开关-->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!--立即加载全局开关-->
        <setting name="aggressiveLazyLoading" value="false"/>

        <setting name="multipleResultSetsEnabled" value="true"/>

        <setting name="useColumnLabel" value="true"/>

        <setting name="useGeneratedKeys" value="false"/>

        <setting name="autoMappingBehavior" value="PARTIAL"/>

        <setting name="defaultExecutorType" value="SIMPLE"/>

        <!--数据库下划线转驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <setting name="localCacheScope" value="SESSION"/>

        <setting name="jdbcTypeForNull" value="NULL"/>

        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>

    </settings>

    <!--别名-->
    <typeAliases>
        <typeAlias alias="int" type="java.lang.Integer"/>
        <typeAlias alias="long" type="java.lang.Long"/>
        <typeAlias alias="hashMap" type="java.util.HashMap"/>
        <typeAlias alias="linkedHashMap" type="java.util.LinkedHashMap"/>
        <typeAlias alias="arrayList" type="java.util.ArrayList"/>
        <typeAlias alias="linkedList" type="java.util.LinkedList"/>
        <typeAlias alias="string" type="java.lang.String"/>

        <typeAlias type="com.lazyer.mybatis.cache.MybatisCacheRedis"
                   alias="mybatisCacheRedis"/>

        <!--<package name="com.futao.springbootdemo.model.entity"/>-->
        <typeAlias type="com.futao.springbootdemo.model.entity.User" alias="user"/>
        <typeAlias type="com.futao.springbootdemo.model.entity.Article" alias="article"/>
        <typeAlias type="com.futao.springbootdemo.model.entity.Review" alias="review"/>
        <typeAlias type="com.futao.springbootdemo.model.entity.Tag" alias="tag"/>

    </typeAliases>

    <!--类型处理器，在设置参数或者从结果集中取出值时起作用-->
    <typeHandlers>

    </typeHandlers>

    <!--对象工厂-->
    <objectFactory type="com.futao.springbootdemo.foundation.MybatisObjectFactory">
        <property name="p1" value="v1"/>
        <property name="p2" value="v2"/>
        <property name="p3" value="v3"/>
    </objectFactory>


    <!--拦截器-->
    <plugins>
        <plugin interceptor="com.futao.springbootdemo.foundation.MybatisInterceptor"/>
    </plugins>
</configuration>